.jumbotron{
    width: 100vw;
    height:30vh;
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}